html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #210842;
  overflow-x: hidden;
}

#cursor {
  color: #06b6d4;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
}

#img-profil {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #1e3a8a;
  overflow: hidden;
}

#img-profil::before {
  content: "";
  position: absolute;
  inset: -180px 80px;
  background: linear-gradient(315deg, #7dd3fc, #03e9f4);
  transition: 0.5s;
  animation: animate 10s linear infinite;
}

#img-profil:hover::before {
  inset: -10px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#img-profil::after {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: #042f2e;
  z-index: 1;
}

#content {
  position: absolute;
  inset: 30px;
  z-index: 3;
  border-radius: 50%;
  border: 1px solid #3b82f6;
  overflow: hidden;
}

#content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//button untuk cv

.wrapper {
}

.wrapper {
  position: relative;
  color: white;
  padding: 15px 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  background: #0369a1;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 15px;
}

.wrapper:hover {
  background-color: #7dd3fc;
  color: #fde047;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.wrapper span {
  position: absolute;
  display: block;
}
.wrapper span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.wrapper span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
.wrapper span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.wrapper span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

//section portofolio

.wrapper2 {
}

.wrapper2 {
  position: relative;
  color: white;
  padding: 5px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  background: #0369a1;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 15px;
}

.wrapper2:hover {
  background-color: #7dd3fc;
  color: #fde047;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.ot {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.tech {
  color: #03e9f4;
}

.nampung {
  overflow: hidden;
}

.iseng {
  background-image: url("gambar/bgketiga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.iseng2 {
  background-image: url("gambar/bgkeempat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* SLIDER */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

/* card */

.card--image {
  width: 10em;
  height: 10em;
  padding: 2em;
  margin-bottom: 2em;
}

.card--image img {
  width: 100%;
  height: 100%;
}

.card--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}

.card--text {
  text-align: center;
  margin: 1em 0;
}
